doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    title DISCOM
  body
    nav.navbar.navbar-dark.bg-dark
      a.navbar-brand(href='#') DISCOM
    br
    center
      h3 List of Survivors:
    br
    .container
      table.table
        thead.thead-dark
          tr
            th(scope='col') Index
            th(scope='col') Time
            th(scope='col') Location
            th(scope='col') Message
            th(scope='col') Battery Percentage
        tbody
          each n in data
            tr
              td= n.index
              td= n.time
              td
                if n.locations !== ''
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever=n.locations) Open Map
                  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        .modal-header
                          h5#exampleModalLabel.modal-title The survivior is located here:
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                          iframe(width='470', height='450', frameborder='0', style='border:0', src='', allowfullscreen='')
                else
                  p No Location Data
                td= n.message
              td= n.battery
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script.
      $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var recipient = button.data('whatever'); // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var patt = new RegExp("gps((.*))hA");
      var res = patt.exec(recipient);

      var modal = $(this);
      modal.find('.modal-body iframe').attr("src", "https://www.google.com/maps/embed/v1/place?key=AIzaSyADG2NQL0l-S1yUEjZ9AVhZaYNOjBQVNOI&q="+res[1]); ;
      })

